<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2gV_7_41prYHvVk64Eu1_BcLFYCeO2NU</string>
	<key>GCM_SENDER_ID</key>
	<string>501520581591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jerryjoy.instaclone.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-486b1</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-486b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501520581591:ios:0eb69332a3e75206f94192</string>
</dict>
</plist>